# venv / кэши / бинарники
venv/
.venv/
venv_312/
**/__pycache__/
*.py[cod]
*.pyd
*.so
*.dll
*.lib
*.exe
*.whl

# данные и артефакты
data/
qdrant_storage/
scripts/last_ingested.jsonl

# системное
.DS_Store
Thumbs.db
